body#bo_create_account {
    background: linear-gradient(to right, #0d6aab, #29435c);
    // div que contiene el form del create account
    div#container-header {
        display: none;
    }
    header {
        display: none;
    }
    .card {
        margin-bottom: 20px;
        border: none;
        border-radius: 2px;
        background-color: transparent;
        // diseño de los elementos que se encuentran dentro del form del create account
        #form-create-account {
            width: 100%;
            text-align: center;
            border-radius: 15px;
            #text-slogan {
                color: #25acb9;
                font-weight: bold;
                font-size: 0.9em;
                margin: 0;
                position: relative;
                bottom: 0.5em;
            }
            .container-logo {
                padding: 1em;
                .logo-img {
                    max-width: 30em;
                    width: 100%;
                }
            }
            .text-create-account {
                font-weight: bold;
            }
            .text-start {
                text-decoration: underline;
            }
            input[type="text"],
            input[type="email"] {
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #3498db;
                width: 70%;
                min-height: 3em;
                color: #0d6aab;
                border-radius: 15px;
            }
            .container-button {
                input[type="submit"] {
                    min-height: 3em;
                    margin-bottom: 2em;
                    background: #3498db;
                    cursor: pointer;
                    font-weight: bold;
                    text-align: center;
                    border: 2px solid #3498db;
                    width: 50%;
                    min-height: 3em;
                    border-radius: 10px;
                }
            }
        }
        // animaciones cuando se pasa el cursor por los botones e inputs
        #form-create-account input[type="text"]:hover,
        #form-create-account input[type="password"]:hover,
        #form-create-account input[type="submit"]:hover {
            transition: all 0.2s ease;
        }
    }
    @media only screen and (orientation: landscape) {
        div.alingLeft {
            width: 50%;
            float: left;
            background-color: #FFF8F8;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px 0px 0px 15px;
            padding: 1em;
        }
        div.alingRigth {
            width: 50%;
            float: right;
            background-color: $negro-Bo;
            border-radius: 1px 15px 15px 0px;
            form {
                margin-top: 2em;
            }
        }
        div#form-create-account {
            display: flex;
            justify-content: center;
            margin-top: 5%;
        }
        #form-create-account {
            .container-logo {
                .logo-img {
                    width: 100%;
                }
            }
        }
    }
    @media only screen and (orientation: portrait) {
        div.alingLeft {
            background-color: #FFF8F8;
            border-radius: 15px 15px 0px 0px;
        }
        div.alignRight {
            background-color: $negro-Bo;
            border-radius: 0px 0px 15px 15px;
        }
        div#form-create-account {
            margin-top: 15%;
        }
    }
    footer {
        display: none;
    }
}