body#bo_changePassword {
    padding: 10px;
    text-align: center;
    .card {
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        #form-password {
            div#content-password {
                display: flex;
                margin-top: 20vh;
                align-content: space-around;
                flex-direction: column;
                align-items: center;
                #text-password {
                    font-weight: bold;
                    font-size: 1em;
                }
                input[type="password"] {
                    background: none;
                    display: block;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #3498db;
                    width: 80%;
                    min-height: 3em;
                    color: #0d6aab;
                    border-radius: 10px;
                    outline: none;
                }
                input[type="submit"] {
                    background: #3498db;
                    border: 0;
                    text-align: center;
                    border-radius: 10px;
                    cursor: pointer;
                    min-height: 2.5em;
                    width: 40%;
                    font-weight: bold;
                    margin-bottom: 6em;
                }
            }
        }
    }
}