body#create_account {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: $color_fondo;
    width: 100%;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: 0.25s;
    justify-content: center;

    // div que contiene el form del create account
    .card {
        margin-bottom: 20px;
        border: none;
        background-color: transparent;

        // diseño de los elementos que se encuentran dentro del form del create account
        .form-create-account {
            .container-logo {
                padding-bottom: 5%;
                .logo-img {
                    width: 72%;
                    margin-top: 6%;
                }
            }
            .text-create-account {
                color: $color_rosa;
                font-weight: bold;
                text-decoration: $color_azul_oscuro underline;
            }
            .text-start{
                color: $color_azul_oscuro;
                text-decoration:  underline;
            }
            input[type="text"],
            input[type="password"] {
                border: 0;
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #3498db;
                padding: 10px 10px;
                width: 250px;
                outline: none;
                color: white;
                border-radius: 24px;
                transition: 0.25s;
            }
            .container-button {
                display: flex;
                justify-content: center;
                margin-top: 4%;
                margin-bottom: 4%;
                input[type="submit"] {
                    border: 0;
                    background: $color_azul_oscuro;
                    display: flex;
                    text-align: center;
                    outline: none;
                    color: white;
                    border-radius: 24px;
                    transition: 0.25s;
                    cursor: pointer;
                    height: auto;
                    width: 1%;
                    box-shadow: 1px 2px 6px #332f2f;
                    padding: 8px 87px 6px 29px;
                }
            }
        }

        // animaciones cuando se pasa el cursor por los botones e inputs
        .form-create-account input[type="text"]:hover,
        .form-create-account input[type="password"]:hover,
        .form-create-account input[type="submit"]:hover {
            box-shadow: 0 4px 16px $color_hover_botones;
            transition: all 0.2s ease;
        }
    }
    @media (max-width: 768px) {
        .form-create-account {
            left: 0%;
        }
    }
}
