body#bo_exercise {
    background: $color_fondo;
    padding: 10px;
    text-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    // div que contiene el form del gender
    .card {
        border: none;
        background-color: transparent;
        margin-top: 10vh;
        img {
            max-width: 6em;
            margin-top: 2em;
        }
        div#tarjetas {
            background-color: #dee2f4;
            border-radius: 10px;
            margin-top: 1em;
            margin-bottom: 6em;
            .links {
                opacity: 60%;
            }
            div.elementos {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-size: cover;
                background-position: 33% 84%;
                border-radius: 15px;
                margin-bottom: 1.5em;
                min-height: 6em;
                box-shadow: 3px 2px 5px 3px $color_gris_bordes;
                p {
                    margin: 0;
                    width: 60%;
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
            #card1 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise1.jpeg);
            }
            #card2 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise13.jpeg);
            }
            #card3 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise3.jpeg);
            }
            #card4 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise4.jpeg);
            }
            #card5 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise5.jpeg);
            }
            #card6 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise6.jpeg);
            }
            #card7 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise7.jpeg);
            }
            #card8 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise8.jpeg);
            }
            #card9 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise9.jpeg);
            }
            #card10 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise10.jpeg);
            }
            #card11 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise11.jpeg);
            }
            #card12 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise12.jpeg);
            }
            #card13 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise2.jpeg);
            }
            #card14 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url(./../img/exercise14.jpeg);
            }
        }
    }
}