body#bo_feeding {
    background: $color_fondo;
    padding: 10px;
    text-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    // div que contiene el form del gender
    .card {
        border: none;
        background-color: transparent;
        margin-top: 10vh;
        img {
            max-width: 6em;
            margin-top: 2em;
        }
        div#tarjetas {
            background-color: #dee2f4;
            border-radius: 10px;
            margin-top: 1em;
            margin-bottom: 6em;
            .links {
                opacity: 60%;
            }
            div.elementos {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-size: cover;
                border-radius: 15px;
                margin-bottom: 1.5em;
                min-height: 6em;
                box-shadow: 3px 2px 5px 3px $color_gris_bordes;
                p {
                    margin: 0;
                    width: 60%;
                    color: $color_azul_oscuro;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
            #card1 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food1.png);
            }
            #card2 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food13.png);
            }
            #card3 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food3.png);
            }
            #card4 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food4.png);
            }
            #card5 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food5.png);
            }
            #card6 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food6.png);
            }
            #card7 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food7.png);
            }
            #card8 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food8.png);
            }
            #card9 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food9.png);
            }
            #card10 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food10.png);
            }
            #card11 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food11.png);
            }
            #card12 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food12.png);
            }
            #card13 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food2.png);
            }
            #card14 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food14.png);
            }
            #card15 {
                background-image: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ),url(./../img/food15.png);
            }
           
        }
    }
}