footer {
    div#bo_inner_footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        z-index: 100;
    }
    #menu-footer {
        height: 4em;
        // background: #202020;
        // border-top: 1px solid white;
        padding-top: 0.7em;
        display: flex;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .column {
        float: left;
        width: 25%;
        // background: #202020;
        text-align: center;
    }
    img {
        margin-top: 4%;
        width: 2em;
        height: initial;
    }
}