body#bo_graphics {
    background: $color_fondo;
    padding: 40px;
    text-align: center;
    // div que contiene el form del gender
    .card {
        border: none;
        background-color: transparent;
        margin-top: 15vh;
    }
}
