body#bo_login {
    background: linear-gradient(to right, #0d6aab, #29435c);
    // div que contiene el form del login
    div#container-header {
        display: none;
    }
    header {
        display: none;
    }
    .card {
        margin-bottom: 20px;
        border: none;
        border-radius: 2px;
        background-color: transparent;
        // diseño de los elementos que se encuentran dentro del form del login
        #form-login {
            width: 100%;
            text-align: center;
            border-radius: 16px;
            .container-logo {
                padding: 1em;
                .logo-img {
                    max-width: 30em;
                    width: 100%;
                }
                h3 {
                    font-weight: bold;
                }
            }
            .text-login {
                color: #9DBBF3;
                font-weight: bold;
            }
            .text-start {
                color: #FFF8F8;
            }
            input[type="text"],
            input[type="password"] {
                background: none;
                display: block;
                margin: 20px auto;
                text-align: center;
                border: 2px solid #6093f1;
                width: 70%;
                min-height: 3em;
                color: #9DBBF3;
                border-radius: 15px;
            }
            .container-button {
                input[type="submit"] {
                    min-height: 3em;
                    margin-top: 2em;
                    margin-bottom: 2em;
                    background: #3498db;
                    cursor: pointer;
                    font-weight: bold;
                    text-align: center;
                    border: 2px solid #3498db;
                    width: 50%;
                    min-height: 3em;
                    border-radius: 10px;
                }
            }
        }
        // animaciones cuando se pasa el cursor por los botones e inputs
        #form-login input[type="text"]:hover,
        #form-login input[type="password"]:hover,
        #form-login input[type="submit"]:hover {
            transition: all 0.2s ease;
        }
    }
    @media only screen and (orientation: landscape) {
        div.alingLeft {
            width: 50%;
            float: left;
            background-color: #FFF8F8;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px 0px 0px 15px;
            padding: 1em;
        }
        div.alingRigth {
            width: 50%;
            float: right;
            background-color: $negro-Bo;
            border-radius: 0px 15px 15px 0px;
            form {
                margin-top: 2em;
            }
        }
        div#form-login {
            display: flex;
            justify-content: center;
            margin-top: 5%;
            #form-login {
                .container-logo {
                    .logo-img {
                        width: 100%;
                        margin-left: 2em;
                        margin-top: 3em;
                    }
                }
            }
        }
    }
    @media only screen and (orientation: portrait) {
        div#form-login {
            margin-top: 15%;
        }
        div.alingLeft {
            background-color: #FFF8F8;
            border-radius: 15px 15px 0px 0px;
        }
        div.alingRigth {
            background-color: $negro-Bo;
            border-radius: 0px 0px 15px 15px;
        }
    }
    footer {
        display: none;
    }
}