body#bo_myaccount {
    padding: 10px;
    text-align: center;
    // div que contiene el form del gender
    .card {
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        #form-myaccount {
            div#container-myaccount {
                margin-top: 20vh;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-around;
                a {
                    .content-myaccount {
                        margin-top: 2%;
                        width: auto;
                        height: auto;
                        padding: 2%;
                        border: 2px solid $color_fondo;
                        border-radius: 15px;
                        margin-bottom: 0.2em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        min-height: 7em;
                        min-width: 20em;
                        span {
                            font-weight: bold;
                        }
                        i {
                            font-size: 3rem;
                        }
                    }
                }
            }
        }
    }
}