body#bo_myaccount {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: $color_fondo;
    width: 100%;
    padding: 40px;
    top: 50%;
    left: 50%;
    text-align: center;
    transition: 0.25s;
    justify-content: center;
    // div que contiene el form del gender
    .card {
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        h4 {
            color: $color_azul_oscuro;
            font-weight: bold;
            margin-top: 5%;
        }
        // ul que contiene los dos botones de femenino y masculino con los demás objetos dentro
        ul {
            list-style: none;
            display: block;
            color: white;
            margin: 0%;
            padding: 0;
            margin-top: 15%;
            margin-top: 15%;
            .links {
                display: flex;
                width: 100%;
                justify-content: center;
                li {
                    background: #f9f4c4;
                    text-decoration: none;
                    list-style: none;
                    box-shadow: none;
                    display: block;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid $color_fondo;
                    border-radius: 27px;
                    margin-top: 10%;
                    margin-right: 5%;
                    margin-bottom: 10%;
                    padding-top: 6%;
                    box-shadow: 3px 14px 27px $color_gris_bordes;
                    a {
                        text-decoration: none;
                        position: relative;
                        left: 8%;
                        img {
                            max-width: 50%;
                            position: relative;
                            right: 9%;
                        }
                        label {
                            color: $color_azul_oscuro;
                            font-weight: bold;
                            display: block;
                            position: relative;
                            right: 8%;
                            margin-top: 4%;
                        }
                    }
                }
            }
        }
        //  Botones de flecha hacia atrás y continuar
        #button-logout {
            border-radius: 25px;
            color: wheat;
            background: $color_azul_oscuro;
            padding: 0.5em;
        }
        #container-button-logout {
            display: flex;
            justify-content: flex-end;
        }
       
        // animaciones cuando se pasa el cursor por los botones
        li:hover,
        #button-logout:hover {
            box-shadow: 0 4px 16px $color_hover_botones;
            transition: all 0.2s ease;
        }
    }

}