body#bo_profileUpdate {
    background: $color_fondo;
    padding: 10px;
    text-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    text-align: center;
    #container-header {
        display: none;
    }
    .textHeader {
        z-index: 90;
    }
    div#container {
        margin-top: 1em;
        .card {
            border: none;
            background-color: transparent;
            div#tarjetHead {
                background-color: #21a9af;
                padding: 3vh;
                position: fixed;
                left: 0;
                width: 100%;
                top: 0;
                padding-top: 4em;
                z-index: 1;
                img {
                    max-width: 20vh;
                    border-radius: 50%;
                    margin-bottom: 2vh;
                }
            }
            #section {
                margin-top: 34vh;
                padding: 0;
                margin-bottom: 5em;
            }
            label {
                color: $color_azul_oscuro;
                font-weight: bold;
            }
            input {
                border-radius: 10px;
                color: $color_azul_oscuro;
                font-weight: bold;
            }
            input[type="date"]::-webkit-calendar-picker-indicator {
                background: none;
                width: 8em;
            }
        }
    }
}