body#bo_passwordEmail {
    background: linear-gradient(to right, #0d6aab, #29435c);
    padding: 10px;
    text-align: center;
    div#container-header {
        display: none;
    }
    footer {
        display: none;
    }
    header {
        display: none;
    }
    .text-resetPass {
        
        font-weight: bold;
        
    }
    .text-start {
         
    }
    form {
        padding-top: 1em;
    }
    .card {
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        margin-top: 10vh;
        #form-PassEmail {
             
            width: 100%;
            text-align: center;
            border-radius: 15px;
            div#content-PassEmail {
                display: flex;
                margin-top: 7vh;
                align-content: space-around;
                flex-direction: column;
                align-items: center;
                p {
                     
                }
                img {
                    max-width: 10em;
                    margin-bottom: 2em;
                }
                input[type="email"] {
                    background: none;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #3498db;
                    width: 85%;
                    min-height: 3em;
                    color: #0d6aab;
                    border-radius: 15px;
                }
                input[type="submit"] {
                    border: 0;
                     
                    text-align: center;
                    color: white;
                    border-radius: 15px;
                    cursor: pointer;
                    min-height: 3em;
                    width: 40%;
                    box-shadow: 1px 2px 6px #332f2f;
                    margin-bottom: 6em;
                }
            }
        }
    }
}