body#bo_profile {
    background: $color_fondo;
    padding: 10px;
    text-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    text-align: center;
    #container-header {
        display: none;
    }
    header {
        display: none;
    }
    button#submitProfile {
        margin-bottom: 4em;
    }
    div#container {
        margin-top: 1em;
        .card {
            border: none;
            background-color: transparent;
            div#tarjetHead {
                background-color: #21a9af;
                padding: 3vh;
                position: fixed;
                left: 0;
                width: 100%;
                top: 0;
                padding-top: 4em;
                z-index: 1;
                img {
                    max-width: 20vh;
                    border-radius: 50%;
                    margin-bottom: 2vh;
                }
            }
            #section {
                margin-top: 34vh;
                padding: 0;
                // display: flex;
                // flex-direction: column;
                // align-content: flex-start;
                // align-items: flex-start;
                // justify-content: center;
                div.DataUser {
                    color: $color_azul_oscuro;
                    font-weight: bold;
                    font-size: 1.5rem;
                    span {
                        color: #007bff;
                        font-weight: 100;
                        font-size: 1.4rem
                    }
                }
            }
        }
    }
}