body#bo_profile {
    background: $color_fondo;
    padding: 20px;
    text-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    text-align: center;
    div#container {
        margin-top: 1em;
        .card {
            border: none;
            background-color: transparent;

            h3 {
                color: $color_azul_oscuro;
                font-weight: bold;
            }
            img {
                max-width: 10em;
                border-radius: 50%;
                margin-bottom: 2vh;
            }
            #section {
                display: flex;
                flex-direction: column;

                .dates {
                    display: flex;
                    label {
                        p {
                            color: #970b94;
                            font-weight: bold;
                            font-size: 1.2em;
                            margin: 0;
                            float: left;
                        }
                        input#email{
                            width: 14em;
                        }
                    }
                }
            }
            input {
                border: 0;
                background-color: transparent;
                width: 10em;
                height: 1.5em;
                font-size: 1.1em;
                color: $color_azul_oscuro;
                font-weight: bold;
            }
            :-ms-input-placeholder {
                color: #0d6aab;
            }
            input[type="submit"] {
                border: 0;
                background: $color_azul_oscuro;
                text-align: center;
                color: white;
                border-radius: 25px;
                cursor: pointer;
                min-height: 3em;
                width: 30%;
                box-shadow: 1px 2px 6px #332f2f;
                margin-top: 1em;
            }
        }
    }
}
