body#bo_profileUpdate {
     
    padding: 10px;
    text-align: center;
    -ms-flex-pack: center;
    display: -ms-flexbox;
    text-align: center;
    #container-header {
        display: none;
    }
    header {
        display: none;
    }
    div#container {
        margin-top: 1em;
        .card {
            border: none;
            background-color: transparent;
            div#tarjetHead {
                padding: 3vh;
                position: fixed;
                left: 0;
                width: 100%;
                top: 0;
                padding-top: 4em;
                z-index: 1;
                img {
                    max-width: 20vh;
                    border-radius: 50%;
                    margin-bottom: 2vh;
                }
            }
            #section {
                margin-top: 34vh;
                padding: 0;
                margin-bottom: 5em;
            }
            label {
                 
                font-weight: bold;
            }
            input {
                background: none;
                    text-align: center;
                    border: 2px solid #3498db;
                    width: 100%;
                    min-height: 3em;
                    color: #0d6aab;
                    border-radius: 10px;
            }
            input[type="date"]::-webkit-calendar-picker-indicator {
                background: none;
                width: 8em;
            }
            button#profileUpdateSubmit {
                background: #3498db;
                border: 0;
                text-align: center;
                border-radius: 10px;
                cursor: pointer;
                min-height: 2.5em;
                width: 40%;
                font-weight: bold;
                margin-bottom: 6em;
            }
        }
    }
}