body#bo_settings {
    padding: 10px;
    text-align: center;
    .card {
        margin-top: 3%;
        border: none;
        background-color: transparent;
        // diseño de los elementos que se encuentran dentro del form del login
        #form-settings {
            div#container-settings {
                margin-top: 20vh;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                flex-direction: column;
                gap: 2em;
                a {
                    outline: none;
                    .content-settings {
                        width: 100%;
                        border-radius: 15px;
                        padding: 1em;
                        i {
                            font-size: 3em;
                        }
                        span {
                            font-weight: bold;
                        }
                    }
                }
                a:link,
                a:visited,
                a:hover,
                a:active {
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }
}

div#switchColor {
    position: absolute;
    right: 2em;
    z-index: 3;
    top: 6em;
    display: flex;
    gap: 1em;
    align-items: center;
    /* Formateamos el label que servirá de contenedor */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }
    /* Ocultamos el checkbox html */
    .switch input {
        display: none;
    }
    /* Formateamos la caja del interruptor sobre la cual se deslizará la perilla de control o slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $blanco-Bo;
        -webkit-transition: .4s;
        transition: .4s;
    }
    /* Pintamos la perilla de control o slider usando el selector before */
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: $negro-Bo;
        -webkit-transition: .4s;
        transition: .4s;
    }
    /* Cambiamos el color de fondo cuando el checkbox esta activado */
    input:checked+.slider {
        background-color: $negro-Bo;
        border: 1px $blanco-Bo solid;
    }
    input:checked+.slider:before {
        background-color: $blanco-Bo;
    }
    /* Deslizamos el slider a la derecha cuando el checkbox esta activado */
    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    /* Aplicamos efecto de bordes redondeados en slider y en el fondo del slider */
    .slider.round {
        border-radius: 34px;
        border: 1px $negro-Bo solid;
    }
    .slider.round:before {
        border-radius: 50%;
    }
}