body#bo_weight {
    padding: 10px;
    text-align: center;
    .card {
        margin-bottom: 20px;
        border: none;
        background-color: transparent;
        margin-top: 10vh;
        #form-weight {
            div#content-weight {
                display: flex;
                margin-top: 7vh;
                align-content: space-around;
                flex-direction: column;
                align-items: center;
                img {
                    max-width: 10em;
                    margin-bottom: 2em;
                }
                input[type="number"] {
                    background: none;
                    margin: 20px auto;
                    text-align: center;
                    border: 2px solid #3498db;
                    width: 50%;
                    min-height: 3em;
                    color: #0d6aab;
                    border-radius: 10px;
                }
                input[type="submit"] {
                    background: #3498db;
                    border: 0;
                    text-align: center;
                    border-radius: 10px;
                    cursor: pointer;
                    min-height: 2.5em;
                    width: 40%;
                    font-weight: bold;
                    margin-bottom: 6em;
                }
            }
        }
    }
}