$color_fondo: #dee2f4;
$color_rosa: #de2ccb;
$color_azul_oscuro: #0d6aab;
$color_gris_bordes: #abb4c7;
$color_hover_botones:rgb(44, 56, 61);
@import "_BoMyAccount";
@import "_BoLogin";
@import "_BoCreateAccount";
@import "_BoGender";
@import "_BoPlace";
@import "_BoFooter";

/**
* Son estilos globales
**/

.hide {
    display: none;
}

div#messagehelp {
    position: absolute;
    background-color: red;
    left: 0;
    bottom: 4em;
    min-height: 5em;
    width: 100%;
    border-radius: 25px 25px 0px 0px;
    padding: 3%;
    text-align: center;
}