// colores en tema oscuro
$negro-Bo:#0A0A0A;
$blanco-Bo: #fff8f8;
$azul-claro-Bo: #9DBBF3;
$gris-oscuro-Bo:#1c1d1e;
$gradient-oscuro-Bo: linear-gradient(#3C3656, #0A0A0A);
// colores en tema claro
$mora-azul-Bo: #6128e5;
$gris-claro-Bo:#7793c8;
$gradient-claro-Bo: linear-gradient(#FFF8F8, #9DBBF3);
@import "_BoMyAccount";
@import "_BoLogin";
@import "_BoCreateAccount";
@import "_BoGender";
@import "_BoPlace";
@import "_BoFooter";
@import "_BoSettings";
@import "_BoNotifications";
@import "_BoFeeding";
@import "_BoExercise";
@import "_BoGraphics";
@import "_BoWeight";
@import "_BoProfile";
@import "_BoProfileUpdate";
@import "_BoChangePassword";
@import "_BoHeader";
@import "_BoNotificationsUser";
@import "_BoPasswordEmail";
//Admin
@import "_BoAdminDashboard";
@import "_BoUsers";
@import "_BoProspects";
@import "_BoCoach";
@import "_BoCustomerAdmins";
@import "_BoCustomerAdminsCRUD";

/**
* Son estilos globales
**/

.light {
    background-color: $blanco-Bo;
    .colorText {
        color: $negro-Bo;
    }
    .colorTextHighlight {
        color: $mora-azul-Bo;
    }
    .colorHeader,
    .colorFooter {
        background-color: $gris-claro-Bo;
    }
    .colorContainers {
        background-image: $gradient-claro-Bo;
    }
}

.dark {
    background-color: $negro-Bo;
    .colorText {
        color: $azul-claro-Bo;
    }
    .colorTextHighlight {
        color: $blanco-Bo;
    }
    .colorHeader,
    .colorFooter {
        background-color: $gris-oscuro-Bo;
    }
    .colorContainers {
        background-image: $gradient-oscuro-Bo;
    }
}

.tarjetData {
    background-color: $blanco-Bo;
    border-radius: 15px;
    min-height: 5em;
    max-width: 45%;
    padding: 1em;
    margin-left: 1.5vh;
    font-weight: bold;
}

.textHeader {
    position: fixed;
    top: 1em;
    width: 100%;
    left: 0;
}

.hide {
    display: none;
}

div#messagehelp {
    // background: $gradient-oscuro-Bo;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 60px;
    height: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    // color: $blanco-Bo;
    padding: 2em;
    text-align: center;
    z-index: 5;
}

// evaluar esta clase
h4 {
    font-weight: bold;
    width: 100%;
    left: 0;
    text-align: center;
    position: fixed;
    z-index: 3;
}

#opacityNotification {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #0a0a0a9e;
    z-index: 4;
}


/*
*NavBar Admin
*/

.subtitle {
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.subtitle.active {
    background: #005177;
    width: initial;
    height: initial;
    transition: 0.7;
}

.subtitleParent {
    i.fa-angle-down {
        position: absolute;
        top: 35%;
        right: 1em;
        font-size: 1.2em;
        transform: rotate(0deg);
    }
}

.subtitleParent.active {
    background: #02415e;
    i.fa-angle-down {
        rotate: -90;
        transform: rotate(180deg);
    }
}